.title {
    font-size: 5vw;
    font-size: 5cqw;
    font-weight: 300;
    text-align: center;
}

.content {
    font-size: 3vw;
    font-size: 3cqw;
    font-weight: 300;
    margin-top: 30px;
}

.box-data {
    padding: 10px;
}

.cv-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cv-image {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}
